includes:
    - vendor/ahegyes/wordpress-configs/php/quality-assurance/phpstan.dist.neon

parameters:
    paths:
        - packages/bootstrap/check-requirements.php
        - packages/bootstrap/tests
        - packages/core/src
        - packages/core/tests
        - packages/utilities/src
        - packages/utilities/tests
        - packages/woocommerce/src
        - packages/woocommerce/tests
